<h2>Upcoming Gigs</h2>
<ul>
  <% Gig.upcomings.each do |gig| %>
    <li><%= gig.date %>, <%= gig.venue %>, <%= gig.location %></li>
  <% end %>
</ul>

<h2>Past Gigs</h2>
<ul>
  <% Gig.priors.each do |gig| %>
    <li><%= gig.date %>, <%= gig.venue %>, <%= gig.location %></li>
  <% end %>
</ul>
